*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/* navbar design */
.nav-container{
    background-color: #000000;
}

.nav-container ul{
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}
 .nav-container ul li{
     display: inline;
     margin: 10px;
 }

 .nav-container ul li a{
     text-decoration: none;
     color: white;
     padding: 10px;
     border-radius: 5px;
 }

 .nav-container ul li a:hover{
     background-color: #222222;
 }


 /* top banner */
 section{
     display: flex;
 }

 h1{
     font-size: 50px;
 }
 h2{
     font-size: 30px;
 }

 .orange-color{
     color: orange;
 }

 .half-width{
     width: 50%;
     padding-left: 2%;
     margin-bottom: 100px;
 }

 .half-width p{
     margin-bottom: 20px;
     text-align: justify;
 }

 .half-width img{
     width: 80%;
 }

 .link-btn{
     background-image: linear-gradient(salmon, orange);
     padding: 10px 40px;
     text-decoration: none;
     color: white;
     font-size: 20px;
 }

 .top-banner{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
 }
 /* responsive */
 @media screen and (max-width: 600px){
    .nav-container ul li{
        display: block;
    }
    .nav-container ul li a{
        display: inline-block;
        width: 100%;
    }
    section{
        display: block;
        width: 100%;
    }
    .half-width{
        margin: 0 auto;
        width: 80%;
    }
    .half-width img{
        margin-top: 30%;
    }
 }
